# Werkzeug keeps breaking Flask!
Werkzeug==3.1.6

# Runtime dependencies
Flask==2.1.2
python-dotenv==1.2.2

# Runtime tools
gunicorn==20.1.0
honcho==2.0.0

# Code quality
pylint==2.14.0
flake8==7.3.0
black==26.5.1

# Testing dependencies
pytest==9.0.3
pytest-cov==6.1.0

# Utilities
httpie==3.2.4
